a:hover{
    filter: brightness(1.75);    
}

a:visited{
    color:aqua;
}

a:active{
    text-decoration: none;
}

p{
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 25px;
    line-height: 15px;
}
